#  if running BE from another machine, change api address here and use this
# VITE_API_URL= 'http://18.234.50.156:8000/', 
# // if running both UI BE on same machine, use below
VITE_API_URL= 'http://localhost:8000'
